{% extends "whitelink/base.html" %}

{% block content %}
    <div class="card text-center mt-5">
        <div class="card-body">
            {% if entry %}
                <p><i class="far fa-check-circle fa-2x text-success"></i></p>
                <h5 class="card-text">You're all set!</h5>
                <p class="card-text">Your IP is whitelisted and you can access the server</p>
            {% else %}
                <p><i class="far fa-times-circle fa-2x text-danger"></i></p>
                <h5 class="card-text">You're not whitelisted</h5>
                <p class="card-text">To whitelist your IP, enter your access code below</p>
            {% endif %}
        </div>
    </div>

    {% if not entry %}
        <h3 class="mt-5">Whitelist me</h3>
        <p>Have an access code? Paste it here to whitelist your IP</p>
        <form action="{% url 'index' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-sm-4">
                    <input type="password" class="form-control" placeholder="Access code" name="code" required>
                </div>
                <div class="col-sm-5">
                    <input type="text" maxlength="100" class="form-control" placeholder="Player name" name="name"
                           required>
                </div>
                <div class="col-sm-3">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Whitelist</button>
                    </div>
                </div>
            </div>
            {{ form.non_field_errors }}
            {{ form.code.errors }}
            {{ form.name.errors }}
        </form>
    {% endif %}
    {#    <p>IP: {{ ip }}</p>#}

    {% if entry %}
        {% include 'whitelink/server_usage.html' %}
        <h3 class="mt-5">Whitelist entries</h3>

        <p>
            People in whitelist: 1 / 20
        </p>

        <form action="{% url 'index' %}" method="post">
            <table class="table align-middle">
                <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Added at</th>
                    {% if entry.is_admin %}
                        <th scope="col"></th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for e in all_entries %}
                    <tr>
                        <td>
                            {{ e.friendly_name }}
                            {% if e.is_admin %}<i class="fas fa-user-cog"></i>{% endif %}

                        </td>
                        <td>{{ e.created_at }}</td>
                        {% if entry.is_admin %}
                            <td class="text-end">
                                <button type="submit" name="revoke" value="{{ e.pk }}"
                                        class="btn btn-sm btn-danger ml-auto" data-bs-toggle="tooltip"
                                        title="Revoke access" {% if entry == e %}disabled{% endif %}>
                                    <i class="fas fa-ban"></i>
                                </button>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>

        <div class="row">
        <div class="col-auto">
        <a href="" class="btn btn-warning" data-bs-toggle="tooltip"
                   title="Disables the current code and generates a new one">Invalidate access code</a>

        </div>
            <div class="col-auto">
        <div class="input-group">
            <input class="form-control" type="text" value="thisisthecodeanditisverylongisitisitreally" readonly
                   id="codeField">
            <button class="btn btn-secondary clip" type="button" data-clipboard-target="#codeField" title="Copied">
                <i class="fas fa-copy"></i> Copy
            </button>
        </div>
            </div>
        </div>

        <form action="{% url 'revoke-self' %}" method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Revoke your access</button>
        </form>
    {% endif %}
{% endblock %}
